/* About 페이지 컨테이너 설정 */
.about-container {
  max-width: 900px; /* 전체 너비 제한 */
  margin: 0 auto; /* 중앙 정렬 */
  padding: 80px 20px; /* 상하 여백 조정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* 왼쪽 정렬 */
}

/* About 제목 스타일 */
.about-title {
  font-size: 2rem;
  font-weight: bold;
  color: #00a8e8;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap; /* 제목 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 부분 제거 */
  gap: 3px; /* 숫자와 텍스트 사이 간격 */
}

/* 구분선 스타일 */
.title-line {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 15px;
  width: 250px;
  flex-shrink: 0; /* 구분선이 줄어들지 않도록 설정 */
}

/* About 내용 컨테이너 */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 01. 번호 텍스트 */
.section-number {
  font-family: "LINESeedKR-Bd";
  font-size: 0.8em;
  font-weight: bold;
  color: #00a8e8;
  margin-right: 5px; /* 숫자와 텍스트 사이 간격 추가 */
  display: inline-block;
}

/* About Me 텍스트 */
.section-text {
  font-family: "LINESeedKR-Bd";
  color: #f5f5f5;
}

/* About 텍스트 스타일 */
.about-text {
  color: #ffffff;
  white-space: pre-line; /* 줄바꿈 유지 */
}

.about-text h3 {
  font-family: "LINESeedKR-Bd";
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

/* About 설명 텍스트 스타일 */
.about-text p {
  font-family: "Chosunilbo_myungjo", serif;
  font-size: 1rem;
  color: #d1d1d1;
  line-height: 1.8;
  margin-bottom: 40px;
}

/* About 이미지 스타일 */
.about-image-wrapper {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.about-image {
  max-width: 250px;
  height: auto;
}

.section-title {
  font-family: "LINESeedKR-Bd";
  font-family: "LINESeedKR-Bd";
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  gap: 5px; /* 숫자와 텍스트 사이 간격 */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
  flex-wrap: nowrap; /* flex 요소가 여러 줄로 내려가는 걸 방지 */
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .about-container {
    max-width: 95%;
    padding: 60px 20px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    min-width: 60%;
  }

  .about-image-wrapper {
    max-width: 150px;
    margin-left: 20px;
  }
}
